<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.focasoftware.deboinventario">
<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PreferenciasInventario" >
        </activity>
        <activity android:name=".Parametros" >
        </activity>
        <activity android:name=".ParametrosInventario" >
        </activity>
        <activity android:name=".Preferencias" >
        </activity>
        <activity android:name=".InventarioMainBoard" >
        </activity>
        <activity android:name=".SeleccionInventarios" >
        </activity>
        <activity android:name=".BusquedaProveedores" >
        </activity>
        <activity android:name=".CambioContrasena" >
        </activity>
        <activity android:name=".ComprasMainBoard" >
        </activity>
        <activity android:name=".DetallesArticulo" >
        </activity>
        <activity android:name=".DetallesArticuloDinamico" >
        </activity>
        <activity android:name=".LecturaCodigoBarra" >
        </activity>
        <activity android:name=".PaginaCompras" >
        </activity>
        <activity android:name=".PaginaInventario" >
        </activity>
        <activity android:name=".PaginaInventarioDinamico" >
        </activity>
        <activity android:name=".SeleccionarUrl" >
        </activity>
        <activity android:name=".TomarFoto" >
        </activity>
        <activity android:name=".UsbProvider" >
        </activity>
        <activity android:name=".WiFiControlador" >
        </activity>
        <activity android:name=".DeboInventario">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>